body{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #373867;
}
h1{
    font-size: xx-large;
    align-self: center;
    margin-bottom: 20px;
}
h2{
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
button{
    color:#FF3E1D;
    margin-bottom: 25px;
    height: 50px;
}
button:hover{
    background-color: #FF3E1D;
    color:#373867;
}
button, button:hover{
    border: #FF3E1D solid 1px;
    border-radius: 3px;
    font-weight: bold;
}
.container{
    min-width: 250px;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    color: #373867;
    border-bottom: #373867 solid 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.container i{
    color: #5D5D5D;
}
.container i:hover{
    color: #FF3E1D;
}
#content-div-login{
    margin-left: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}
#container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    border: none;
}
#container-signup{
    align-items: center;
    font-size: medium;
    border: none;
    padding: 40px;
}
#content-div-signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
#back-menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}
#back-button{
    border: solid 1px;
    border-radius: 8px;
    padding: 5px;
    background-color: lightgray;
}
#back-button:hover{
    background-color: lightcoral;
}
#back-login:hover{
    color: lightcoral;
}

@media(min-width: 480px){
    *{
        font-size: medium;
    }
}
@media(min-width: 1024px){
    *{
        text-align: start;
    }
    h2{
        margin-left: 10px;
    }
    .container{
        width: 95%;
    }
    #content-div{
        margin-left: 12%;
    }
}