<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/641430c6e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Sign up - Trackgenix - GigaTech Software Solutions SA</title>
</head>
<body>
    <div id="sidebar-div">
        <aside id="sidebar">
            <div id="sidebar-menu">
                <span>Menu</span>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./employee-signup.html">SignUp</a></li>
                    <li><a href="./login.html">LogIn</a></li>
                </ul>
            </div>
            <div id="sidebar-info">
                <span>Get in touch</span>
                <p>
                    Explanation here of the correspondent component. We left this with a
                    random text for the moment. This is just an example. Don't take this
                    text seriously. Explanation here of the correspondent component. We
                    left this with a random text for the moment. This is just an example.
                    Don't take this text seriously.
                </p>
                <div id="contact-info">
                    <div class="sidebar-icon-text-container">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                        <p>infotrackgenix@something.idk</p>
                    </div>
                    <div class="sidebar-icon-text-container">
                        <i class="fa-solid fa-house fa-xl"></i>
                        <p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </div>
                    <div class="sidebar-icon-text-container">
                        <i class="fa-solid fa-phone fa-xl fa-flip-horizontal"></i>
                        <p>(000) 000-0000</p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div id="content-div">
        <div class="container">
            <h1>Log in</h1>
            <form>
                <fieldset>
                    <label for="">First name</label>
                    <input type="text" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Last name</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">DNI</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Birthday</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Telephone</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Address</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Locality</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Postal Code</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">E-mail</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Password</label>
                    <input type="password" name="" id="">
                </fieldset>
                <fieldset>
                    <label for="">Repeat password</label>
                    <input type="password" name="" id="">
                </fieldset>
                <button type="submit">Send</button>
            </form>
            <a href="">Forget your password?</a>
            <a href="">You don't have an account? <span>Click here</span> to sing up</a>
        </div>
    </div>
</body>
</html>