h1{
    margin-top: 20px;
    text-align: center;
}
fieldset > label{
    text-align: start;
}
input[type="text"], input[type="password"], input[type="date"]{
    margin: 10px 0 25px 0;
    min-height: 30px;
    border-radius: 8px;
    border: 0.5px solid #373867;
    width: 100%;
    padding: 10px;
}
form{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
}
label{
    display: block;
}
a{
    text-decoration: none;
}
a:hover{
    color: #FF3E1D;
}
input[type="submit"]{
    border-radius: 8px;
    background-color: #373867;
    border: #373867 solid 1px;
    color: #fff;
    width: 75%;
    text-align: center;
    align-self: center;
    min-height: 45px;
}
span{
    font-weight: bold;
}
@media(min-width: 1024px){
    #back-button{
        display: none;
    }
}
.green-border{
    border: green 2px solid;
}
.red-border{
    border: red 2px solid;
}
