header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: #FF2500 solid 1px;    
}
#header-text{
    margin: 0.5em auto;
    font-size: 0.6rem;
}
#header-text span{
    font-weight: bold;
}
