*{
    /* background-color: #37386720; */
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #373867;
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
button{
    color:#FF3E1D;
    margin-bottom: 1rem;
    height: 3em;
}
button:hover{
    background-color: #FF3E1D;
    color:#373867;
}
button, button:hover{
    border: #FF3E1D solid 1px;
    border-radius: 3px;
    font-weight: bold;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    color: #373867;
    border-bottom: #373867 solid 1px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    gap: 0.5rem;
    text-align: center;
}
.container i{
    color: #5D5D5D;
}
.container i:hover{
    color: #FF3E1D;
}
@media(min-width: 480px){
    *{
        background-color: #2d66372f;
    }
    
}
@media(min-width: 1024px){
    /* #sidebar{
        display: flex;
        flex-direction: column;
        position: fixed;
    } */
}