html{
    height: 900px;
    width: 1440px;
}
body{
    width: 1440px;
    height: 900px;
    background-color: #fff;
    color: #373867;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
main{
    border-bottom: #373867 solid 1px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
#sidebar{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background-color: #AACE9B;
    color: #373867;
    display: inline-block;
    position: fixed;
}
.container{
    width: 77%; 
    box-sizing: border-box;
    background-color: #fff;
    color: #373867;
    display: inline-block;
    margin-left: 340px;
}
.main-title{
    width: 700px;
    display: inline;
    font-size: 40px;
    font-weight: bold;
}
#main-div{
    display: inline-block;
    width: 720px;
    vertical-align: top;
}
#title-span{
    display: block;
    width: 680px;
}
#subtitle-span{
    font-size: 20px;
    display: inline-block;
    width: 340px;
    margin: 50px 0;
}
#main-text-div{
    display: inline-block;
    width: 720px;
    vertical-align: top;
}
#main-image-div{
    display: inline-block;
}
main img{
    width: 360px;
    height: 340px;
}
#web-info-span{
    display: inline-block;
    width: 630px;
    margin-bottom: 50px;
}
main button{
    display: block;
    width: 140px;
    height: 35px;
}
button{
    border: #FF3E1D solid 1px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    color:#FF3E1D;
}
button:hover{
    border: #FF3E1D solid 1px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    color:#373867;
    background-color: #FF3E1D;
}
h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
}
#sidebar span{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #FF3E1D;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
}
#sb-menu{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 60px;
    width: 260px;
    border-bottom: #373867 solid 1px;
}
#sb-menu span{
    margin-bottom: 30px;
    display: inline-block;

}
#sb-info{
    margin-left: 20px;
    margin-top: 30px;
    width: 260px;
    text-align: left;
    font-weight: bold;
}
#sb-info p{
    width: 260px;
    margin-bottom: 40px;
    font-weight: normal;
}
#sb-info span{
    margin: 30px 0px;
    display: inline-block;
}
#sb-info img{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon-text-container{
    border-bottom: #373867 solid 1px;
    display: inline-block;
    margin: 6px auto;
    padding: 0px 8px 5px 0px;
    box-sizing: border-box;

}
.info-text-div{
    display: inline-block;
    width: 210px;
    vertical-align: super;
    box-sizing: border-box;

}
#sidebar ul{
    display: inline;
    border-bottom: #373867 solid 1px;
    padding-bottom: 30px;
    line-height: 45px;
}
#sidebar li{
    width: 260px;
    font-size: 20px;
}
#sidebar li:nth-child(1), #sidebar li:nth-child(2) {
    border-bottom: #373867 solid 1px;
}
#sidebar a{
    text-decoration: none;
    color:#373867;
}
#sidebar a:hover{
    text-decoration: none;
    color:#FF3E1D;
}
header{
    border-bottom: #FF3E1D solid 2px;
}
.bold{
    font-weight: bold;
}
header{
    height: 50px;
    margin-bottom: 50px;
}
#header-text{
    display: inline-block;
    margin-top: 30px;
    margin-right: 650px;
    font-size: 14px;
}
#header-icons{
    display: inline-block;
}
header img, footer img{
    height: 26px;
    width: 26px;
    vertical-align: bottom;
}
img:hover[alt*="Facebook"]{
    content: url(../assets/facebook-image-hover.png);
}
img:hover[alt*="Instagram"]{
    content: url(../assets/instagram-image-hover.png);
}
img:hover[alt*="Twitter"]{
    content: url(../assets/twitter-image-hover.png);
}
img:hover[alt*="GitHub"]{
    content: url(../assets/github-image-hover.png);
}
img:hover[alt*="LinkedIn"]{
    content: url(../assets/linkedin-image-hover.png);
}
#reasons{
    border-bottom: #373867 solid 1px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
#reasons h2{
    margin-bottom: 20px;
}
.reason-div{
    display: inline-block;
    width: 540px;
    font-size: 14px;
    font-weight: bold;
}
.reason-div img{
    height: 120px;
    width: 120px;
}
.reason-inside-div{
    vertical-align: top;
    display: inline-block;
    width: 360px;
    margin-top: 15px;
}
.reason-inside-div span{
    margin-bottom: 15px;
    display: inline-block;
    width: 330px;
}
#features{
    font-weight: bold;
}
#features h2{
    margin-bottom: 20px;
}
#features > div{
    border-bottom: #373867 solid 1px;
}
.feature-div{
    display: inline-block;
    width: 545px;
}
.feature-div img{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
}
.feature-div button{
    width: 70px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.feature-div p, .feature-div span, .feature-div button{
    margin-top: 30px;
}
.feature-div p{
    width: 500px;
}
#contact{
    font-size: 14px;
    font-weight: bold;
}
#contact-main-div{
    border-bottom: #373867 solid 1px;
}
#contact form{
    margin-left: 20px;
    margin-top: 25px;
}
#contact label{
    display: inline-block;
    width: 500px;
    margin-bottom: 10px;
}
#contact input[type*="text"], #contact input[type*="email"]{
    display: inline-block;
    width: 500px;
    height: 40px;
    margin-bottom: 30px;
    
}
#contact input{
    border: #373867 solid 0.5px;
    border-radius: 5px;
}
#contact input[type*="radio"]{
    width: 18px;
    height: 18px;
    accent-color: #373867;
}
#contact textarea{
    display: inline-block;
    width: 900px;
    height: 200px;
    border-radius: 5px;
}
#contact form > div{
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
#contact input[type="submit"]{
    background-color: #AACE9B;
    width: 100px;
}
#contact input[type="reset"]{
    background-color: #F13312;
    width: 70px;
}
#contact input[type="submit"]:hover{
    background-color: #4EB125;
}
#contact input[type="reset"]:hover{
    background-color: #FF2500;
}
.btn-form{
    margin: 40px 0 15px 15px;
    border: #373867 solid 0.5px;
    color: #373867;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}
#contact-area-div{
    vertical-align: middle;
    margin-left: 260px;
}
#contact-area-div label{
    width: 255px;
    vertical-align: sub;
}
#contact-area-div label{
    margin-bottom: 15px;
}
#contact-area-div div{
    margin-top: 10px;
}
#contact-area-div input{
    margin-left: 0;
    vertical-align: middle;
}
#history{
}
#history span{
    font-weight: bold;
}
#history > div{
    margin-top: 30px;
}

